<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

</head>
<body>

    {% if user.is_authenticated %} 
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
    <h1>All Links</h1>
    <ul>
        {% for link in links %}
            <li>
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                (Score: {{ link.score }})
            </li>
        {% empty %}
            <li>No links yet!</li>
        {% endfor %}
    </ul>


</body>
</html>