{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>World Pin Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="map"></div>
    
    <button class="post-button" id="openFormBtn" title="Post a link">
        <i class="fas fa-plus"></i>
    </button>
    
    <div class="modal-overlay" id="modalOverlay"></div>
    
    <div class="popup-form" id="popupForm">
        <button class="close-button" id="closeFormBtn">
            <i class="fas fa-times"></i>
        </button>
        
        <h3>Post a Link</h3>
        
        <div class="form-group">
            <input type="url" id="linkInput" placeholder="Paste TikTok/YouTube/Instagram link" required />
        </div>
        
        <button class="form-button" id="checkUrlBtn">Check URL</button>
        
        <div class="title-section" id="titleSection">
            <div class="form-group">
                <input type="text" id="titleInput" placeholder="Enter title" required />
            </div>
            <button class="form-button" id="postBtn">Post</button>
        </div>
    </div>
    
    <div class="toast" id="toast"></div>
    
    <!-- JS -->
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>
